/* OVERRIDES */
body {
  padding:     0;
  font-family: 'Open Sans', sans-serif;
}

/** HELPERS */
.text-center {
  text-align: center;
}

.strtoupper {
  text-transform: uppercase;
}

/** STICKY FOOTER */
html,
body {
  height: 100%;
}

#sf-wrap {
  min-height: 100%;
  height:     auto !important;
  height:     100%;
  margin:     0 auto -155px;
}

#sf-push {
  height: 155px;
}

footer {
  height:      155px;
  line-height: 20px;
}

/** GLOBAL STYLES */
header {
  background: #4099d4;
  background: -moz-linear-gradient(left, #4099d4 0%, #84cbf0 50%, #4099d4 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #4099d4), color-stop(50%, #84cbf0), color-stop(100%, #4099d4));
  background: -webkit-linear-gradient(left, #4099d4 0%, #84cbf0 50%, #4099d4 100%);
  background: -o-linear-gradient(left, #4099d4 0%, #84cbf0 50%, #4099d4 100%);
  background: -ms-linear-gradient(left, #4099d4 0%, #84cbf0 50%, #4099d4 100%);
  background: linear-gradient(to right, #4099d4 0%, #84cbf0 50%, #4099d4 100%);
  filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#4099d4', endColorstr='#4099d4', GradientType=1);
}

header#topbar {
  padding-bottom: 16px;
  border-bottom:  3px solid #DEDEDE;
}

header#topbar .logo {
  margin-top: 16px;
  opacity:    0.8;
}

header#topbar .logo:hover {
  opacity: 1;
}

nav.main {
  margin-top: 29px;
}

header nav > ul > li > a {
  padding:     0 7px;
  color:       #30719c;
  text-shadow: 0 1px 0 #67b5e4;
}

header nav > ul > li > a:hover,
header nav > ul > li.active > a {
  text-decoration: none;
  color:           #fff;
  text-shadow:     0 1px 0 #3f8dc5;
}

footer {
  background:  #E9E9E9;
  font-size:   11px;
  padding-top: 14px;
  border-top:  1px solid #CCC;
}

footer hr {
  border:     0;
  border-top: 1px solid #CCC;
  margin:     5px 0;
}

.container {
  max-width: 960px;
}

pre
{
  border:1px solid #55a8dd;
}

pre code,code {
  padding:       0;
  color:         #e9604a;
  display:       block;
  overflow:      hidden;
  white-space:   pre-wrap;
  word-wrap:     break-word;
  font-family:   monospace;
  background:    #eeeeee;
  border-radius: 5px;
  text-shadow: none;
}

code
{
  background:transparent !important;
}



.home-features .panel
{
  min-height:250px;
}
