header#topbar {
  border-bottom: none;
}

header.hero {
  font-size:     18px;
  padding:       20px 0;
  border-bottom: 3px solid #DEDEDE;
  color:         #ffffff;
}

header.hero h1 {
  text-align:  center;
  font-family: Calibri, 'Open Sans', sans-serif;
  font-weight: 400;
  font-size:   53px;
  margin-top:  15px;
  text-shadow: 0 2px 0 #3b8ec8;
}

header.hero a:hover {
  text-decoration: none;
}

header.hero a {
  color: #ffffff;
}

header.hero aside {
  display:     block;
  float:       right;
  width:       440px;
  padding-top: 15px;
  text-shadow: 0 1px 0 #3b8ec8;
}

header.hero hgroup {
  float: left;
  width: 440px;
}

.hero-links
{
  padding-top:10px;
}
